In [95]:
import pandas as pd

In [112]:
test_df = pd.read_csv('/home/vishwa/amzn-ml/student_resource 3/dataset/test.csv')

test_df

,index,image_link,group_id,entity_name
0,0,https://m.media-amazon.com/images/I/110EibNycl...,156839,height
1,1,https://m.media-amazon.com/images/I/11TU2clswz...,792578,width
2,2,https://m.media-amazon.com/images/I/11TU2clswz...,792578,height
3,3,https://m.media-amazon.com/images/I/11TU2clswz...,792578,depth
4,4,https://m.media-amazon.com/images/I/11gHj8dhhr...,792578,depth
...,...,...,...,...
131182,131283,https://m.media-amazon.com/images/I/A1rVsIzEtk...,721522,maximum_weight_recommendation
131183,131284,https://m.media-amazon.com/images/I/A1rdvZ5zDd...,603688,item_weight
131184,131285,https://m.media-amazon.com/images/I/A1rdvZ5zDd...,603688,maximum_weight_recommendation
131185,131286,https://m.media-amazon.com/images/I/A1tnTUPyr7...,853009,item_weight
131186,131287,https://m.media-amazon.com/images/I/A1tnTUPyr7...,853009,maximum_weight_recommendation

In [117]:
submission_file = pd.read_csv('/home/vishwa/amzn-ml/first_half_submission - first_half_submission.csv.csv')

list(submission_file['index']) == list(test_df['index'])

True

In [104]:
test_1 = pd.read_csv('/home/vishwa/amzn-ml/outs/first_half-3.csv')
test_2 = pd.read_csv('/home/vishwa/amzn-ml/outs/second_half.csv')
incomplete = pd.read_csv('/home/vishwa/amzn-ml/incomplete.csv')

In [105]:
test_1['prediction_2'] = test_2['prediction']

In [107]:
test_1

         index        prediction   prediction_2
0            0   75.0 centimetre            NaN
1            1    6.0 centimetre            NaN
2            2   18.0 centimetre            NaN
3            3  200.0 centimetre            NaN
4            4    4.0 centimetre            NaN
...        ...               ...            ...
131182  131283               NaN      1.5 pound
131183  131284               NaN        1.0 ton
131184  131285               NaN        5.0 ton
131185  131286               NaN      55.0 gram
131186  131287               NaN  55.0 kilogram

[131187 rows x 3 columns]

In [108]:
test_1['prediction'] = test_1['prediction'].fillna('')
test_1['prediction_2'] = test_1['prediction_2'].fillna('')

In [109]:
test_1['prediction'] = test_1['prediction'] + test_1['prediction_2']

In [110]:
test_1.drop(prediction_2)

         index        prediction   prediction_2
0            0   75.0 centimetre
1            1    6.0 centimetre
2            2   18.0 centimetre
3            3  200.0 centimetre
4            4    4.0 centimetre
...        ...               ...            ...
131182  131283         1.5 pound      1.5 pound
131183  131284           1.0 ton        1.0 ton
131184  131285           5.0 ton        5.0 ton
131185  131286         55.0 gram      55.0 gram
131186  131287     55.0 kilogram  55.0 kilogram

[131187 rows x 3 columns]

In [111]:
test_1 = test_1.loc[:,["index", "prediction"]]
test_1.to_csv('full_final_submission.csv', index=False)

In [59]:
test_2 = test_2.loc[:,["index", "prediction"]]
test_2.to_csv('second_half_submission.csv', index=False)

In [60]:
incomplete = incomplete.loc[:,["index", "prediction"]]
incomplete.to_csv('incomplete_submission.csv', index=False)

In [77]:
test_1

         index        prediction
0            0   75.0 centimetre
1            1    6.0 centimetre
2            2   18.0 centimetre
3            3  200.0 centimetre
4            4    4.0 centimetre
...        ...               ...
131182  131283               NaN
131183  131284               NaN
131184  131285               NaN
131185  131286               NaN
131186  131287               NaN

[131187 rows x 2 columns]

In [78]:
test_1 = test_1.dropna(subset=['prediction'])

In [83]:
completed_small = pd.read_csv('completed_small.csv')

In [85]:
test_1 = test_1.loc[:,["index", "prediction"]]
test_2 = test_2.loc[:,["index", "prediction"]]

In [84]:
completed_small

    index        prediction
0   65651          5.9 inch
1   65652        0.275 inch
2   65653   80.0 centimetre
3   65654   80.0 centimetre
4   65655   20.7 centimetre
5   65656        11.0 pound
6   65657   11.0 centimetre
7   65658   11.0 centimetre
8   65659          7.9 inch
9   65660         1.96 inch
10  65661          1.5 inch
11  65662    3.5 centimetre
12  65663    4.0 centimetre
13  65664   15.0 centimetre
14  65665   15.0 centimetre
15  65666        59.05 inch
16  65667        16.54 inch
17  65668  160.0 centimetre
18  65669   15.0 centimetre
19  65670    6.5 centimetre
20  65671   50.0 centimetre
21  65672   50.0 centimetre
22  65673   18.0 centimetre
23  65674   18.0 centimetre
24  65675    6.5 centimetre
25  65676    3.5 centimetre
26  65677    3.5 centimetre
27  65678   35.5 centimetre
28  65679   24.5 millimetre
29  65680   17.0 centimetre
30  65681         12.0 volt
31  65682          2.2 watt
32  65683   25.0 centimetre
33  65684   25.0 centimetre
34  65685        120.0 watt
35  65686    120.0 kilogram
36  65687        120.0 volt
37  65688    6.8 centimetre
38  65689          5.2 inch
39  65690          5.2 inch
40  65691          5.9 inch
41  65692         39.0 watt
42  65693        230.0 volt
43  65694     50.0 kilogram
44  65695          6.0 volt
45  65696   19.0 centimetre
46  65697         11.8 inch
47  65698         11.8 inch
48  65699   24.0 centimetre
49  65700   24.0 centimetre
50  65701          3.8 inch
51  65702          3.8 inch
52  65703   20.0 centimetre
53  65704          7.8 inch
54  65705          3.3 inch
55  65706    2.6 centimetre
56  65707      9.5 kilogram
57  65708     10.0 kilogram
58  65709   33.0 centimetre

In [79]:
test_1

       index        prediction
0          0   75.0 centimetre
1          1    6.0 centimetre
2          2   18.0 centimetre
3          3  200.0 centimetre
4          4    4.0 centimetre
...      ...               ...
65587  65646          7.0 inch
65588  65647          5.0 inch
65589  65648         13.0 inch
65590  65649         13.0 inch
65591  65650   31.0 centimetre

[65592 rows x 2 columns]

In [51]:
test_1 = test_1[:65592]

In [41]:
test_2 = test_2[65592:]

In [80]:
test_2

        Unnamed: 0   index     prediction
0                0       0            NaN
1                1       1            NaN
2                2       2            NaN
3                3       3            NaN
4                4       4            NaN
...            ...     ...            ...
131182      131182  131283      1.5 pound
131183      131183  131284        1.0 ton
131184      131184  131285        5.0 ton
131185      131185  131286      55.0 gram
131186      131186  131287  55.0 kilogram

[131187 rows x 3 columns]

In [81]:
test_2 = test_2.dropna(subset=['prediction'])

In [82]:
test_2

        Unnamed: 0   index        prediction
65651        65651   65710   38.0 centimetre
65652        65652   65711  210.0 centimetre
65653        65653   65712   25.0 centimetre
65654        65654   65713   25.0 centimetre
65655        65655   65714         15.0 gram
...            ...     ...               ...
131182      131182  131283         1.5 pound
131183      131183  131284           1.0 ton
131184      131184  131285           5.0 ton
131185      131185  131286         55.0 gram
131186      131186  131287     55.0 kilogram

[65536 rows x 3 columns]

In [86]:
import pandas as pd

# Assuming you have three DataFrames: df1, df2, and df3

# Concatenate the DataFrames vertically
df_combined = pd.concat([test_1, completed_small, test_2], axis=0, ignore_index=True)

In [88]:
df_combined.to_csv('final.csv')

In [21]:
test_2['index'] = test_2['Unnamed: 0']

/tmp/ipykernel_11590/3945483985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_2['index'] = test_2['Unnamed: 0']

In [22]:
test_2

        Unnamed: 0   index        prediction
65651        65651   65651   38.0 centimetre
65652        65652   65652  210.0 centimetre
65653        65653   65653   25.0 centimetre
65654        65654   65654   25.0 centimetre
65655        65655   65655         15.0 gram
...            ...     ...               ...
131182      131182  131182         1.5 pound
131183      131183  131183           1.0 ton
131184      131184  131184           5.0 ton
131185      131185  131185         55.0 gram
131186      131186  131186     55.0 kilogram

[65536 rows x 3 columns]

In [ ]:
test_2

In [36]:
test_2 = test_2.drop('Unnamed: 0', axis=1)

In [89]:
import pandas as pd

# Concatenate df2 to df1 along rows
df_combined = pd.concat([test_1, test_2], ignore_index=False)

In [90]:
df_combined

         index        prediction
0            0   75.0 centimetre
1            1    6.0 centimetre
2            2   18.0 centimetre
3            3  200.0 centimetre
4            4    4.0 centimetre
...        ...               ...
131182  131283         1.5 pound
131183  131284           1.0 ton
131184  131285           5.0 ton
131185  131286         55.0 gram
131186  131287     55.0 kilogram

[131128 rows x 2 columns]

In [94]:
first_half['prediction']

0          75.0 centimetre
1           6.0 centimetre
2          18.0 centimetre
3         200.0 centimetre
4           4.0 centimetre
                ...
131182                 NaN
131183                 NaN
131184                 NaN
131185                 NaN
131186                 NaN
Name: prediction, Length: 131187, dtype: object

In [61]:
first_half = pd.read_csv('/home/vishwa/amzn-ml/first_half_submission.csv')
second_half = pd.read_csv('/home/vishwa/amzn-ml/second_half_submission.csv')

In [75]:
first_half = first_half.dropna('prediction')

TypeError: dropna() takes 1 positional argument but 2 were given

In [73]:
df_combined = first_half.merge(second_half, on='index', how='outer')

In [74]:
set(test_df['index']) == set(df_combined['index'])

True

In [91]:
print(first_half.shape)

(131187, 2)

In [92]:
print(second_half.shape)

(131187, 2)

In [ ]:
first_half_set = set()

In [62]:
second_half

         index     prediction
0            0            NaN
1            1            NaN
2            2            NaN
3            3            NaN
4            4            NaN
...        ...            ...
131182  131283      1.5 pound
131183  131284        1.0 ton
131184  131285        5.0 ton
131185  131286      55.0 gram
131186  131287  55.0 kilogram

[131187 rows x 2 columns]